@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{ /*Resetando a pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.center{ 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{ /*Aplicando algumas configurações na classe onde fica o cabeçalho */
    background: linear-gradient(50deg, rgb(18, 95, 85), rgb(99, 236, 213));
    padding:20px 0;
    border-bottom: 2px solid rgb(44, 31, 158);
}

.titulo{
    color: rgb(17, 16, 114);
    font-size: 15px;
    font-weight: normal;
}

.menu{
    width: 70%;
    text-align: right;
}

.menu a{
    color:  rgb(17, 16, 114);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: rgba(11, 24, 31, 0.856)
}

.menu .botaomenu{
    background-color: rgba(19, 57, 182, 0.726);
    display: inline-block;
    padding: 4px 10px;
    color: white;
    border-radius: 4px;
}

.menu .botaomenu:hover{
    background-color: rgb(17, 16, 114);
    color: white;
}

section.main{
    background-image: url('imagem.png');
    padding: 80px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_ct{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.main_ct h1{
    color: rgb(17, 16, 114);
    font-size: 26px;
}

.main_ct p{
    color: grey;
    font-size: 16px;
    margin: 10px 0;
}

.main_ct button{
    background-color: rgba(19, 57, 182, 0.726);
    display: inline-block;
    padding: 4px 10px;
    color: white;
    border-radius: 4px;
    border: 0;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.main_ct button:hover{
    background-color: rgb(17, 16, 114);
    color: white;
}

.elemento{
    display: flex;
    flex-wrap: wrap;
}

.elemento-single{
    background-color: white;
    width: 24%;
    margin-right: 1%;
    padding: 10px 30px;
    border-radius: 5px;
    border: solid #0c035f;
}

.elemento-single i{
    color: rgb(17, 16, 114);
    font-size: 30px;
}

.elemento-single h1{
    color: rgb(17, 16, 114);
    margin: 10px 0;
    font-size: 20px;
}

.elemento-single p{
    color: grey;
    font-size: 15px;
    line-height: 25px;
}

@media screen and (max-width: 768px){ /*tentativa de deixar responsivo*/
    .elemento-single{
        width: 100%;
        margin-bottom: 20px;
    }
}

footer{
    background: linear-gradient(50deg, rgb(18, 95, 85), rgb(99, 236, 213));
    height: 100px;
}

footer p{
    padding-left: 50px;
    padding-top: 30px;
    font-size: 20px;
    color: white;
}
