@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{ /*Resetando a pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.center{ 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{ /*Aplicando algumas configurações na classe onde fica o cabeçalho */
    background: linear-gradient(50deg, rgb(230, 177, 5), rgb(172, 67, 7));
    padding:20px 0;
    border-bottom: 2px solid rgb(121, 36, 3);
}

.titulo{
    color: rgb(38, 39, 49);
    font-size: 15px;
    font-weight: 100px;
}


.menu{
    width: 70%;
    text-align: right;
}

.menu a{
    color:  rgb(32, 32, 44);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: rgba(11, 24, 31, 0.856)
}

.menu .botaomenu{
    background-color: rgba(175, 30, 5, 0.726);
    display: inline-block;
    padding: 4px 10px;
    color: white;
    border-radius: 4px;
}

.menu .botaomenu:hover{
    background-color: rgb(196, 20, 7);
    color: white;
}

section.main{
    background-image: url('laranja.jpg');
    padding: 80px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main .botaoelemt{
    background-color: rgba(175, 30, 5, 0.726);
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    color: white;
    border-radius: 4px;
}

.main .botaoelemt:hover{
    background-color: rgb(196, 20, 7);
    color: white;
}

.main_ct{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.main_ct h1{
    color: rgb(240, 235, 233);
    font-size: 26px;
}

.main_ct p{
    color: rgb(245, 238, 238);
    font-size: 16px;
    margin: 10px 0;
}

.elemento{
    display: flex;
    flex-wrap: wrap;
}

.elemento-single{
    background-color: white;
    width: 24%;
    height: 380px;
    margin-right: 1%;
    padding: 10px 30px;
    border-radius: 5px;
    border: solid #0c035f;
}

.elemento-single h1{
    color: rgb(192, 61, 10);
    margin: 10px 0;
    font-size: 20px;
}

.elemento-single p{
    color: grey;
    font-size: 14px;
    line-height: 25px;
}

@media screen and (max-width: 768px){ /*tentativa de deixar responsivo*/
    .elemento-single{
        width: 100%;
        margin-bottom: 20px;
    }
}

footer{
    background: linear-gradient(50deg, rgb(230, 177, 5), rgb(172, 67, 7));
    height: 100px;
    border-top: 2px solid rgb(121, 36, 3);
}

footer p{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
    color: white;
}
