{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <title>Meu site</title>
</head>
<body>
    <header>
    <div class="center">
        <div class="titulo">
            <h1 ><strong>Site Programação</strong></h1>
            <p>Bem-vindo ao site</p>
        </div>
        <div class="menu">
            <a href="#">
                Home
            </a>
            <a href="#">
                Sobre
            </a>
            <a href="#">
                Contato
            </a>
            <a class="botaomenu" href="#">
                Login
            </a>
        </div>
    </div>  
    </header>

    <section class="main"> <!--Seção com algumas informações ficticias-->
        <div class="center">
            <div class="main_ct">
                <h1><strong>Aprendendo Linguagens</strong><h1>
                <p>Exemplos</p>
            </div>
        <div class="elemento">
            <div class="elemento-single">
            <h1>Python<h1>
            <p>Python é uma linguagem de programação de alto nível, interpretada de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991.</p>
            <a class="botaoelemt" href="#">
                Leia mais
            </a>
            </div>
            <div class="elemento-single">
                <h1>HTML<h1>
                <p>HTML abreviação para a expressão inglesa HyperText Markup Language, que significa: "Linguagem de Marcação de Hipertexto" é uma linguagem de marcação utilizada na construção de páginas na Web.</p>
                <a class="botaoelemt" href="#">
                    Leia mais
                </a>
            </div>
            <div class="elemento-single">
                <h1>CSS<h1>
                <p>Cascading Style Sheets é um mecanismo para adicionar estilo a um documento web. O código CSS pode ser aplicado diretamente nas tags ou ficar contido dentro das tags style.</p>
                <a class="botaoelemt" href="#">
                    Leia mais
                </a>
            </div>
            <div class="elemento-single">
                <h1>Javascript<h1>
                <p>JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma, o JavaScript é uma das três principais tecnologias da World Wide Web.</p>
                <a class="botaoelemt" href="#">
                    Leia mais
                </a>
            </div>
        </div>

        </div>
    </section>


    <footer> <!--Rodapé-->
        <p class="rodape">Copyright: ©Paulo Sérgio  09/03/2021</p>
    </footer>

</body>
</html>